* {
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: #F3F5FC;
  }

  .main {}

  .header {
    padding: 30px 0;
  }

  .row {
    width: 90%;
    min-height: calc(100vh - 60px);
    margin: auto;
  }

  .row:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
  }

  .col-1 {
    width: 75%;
  }

  .col-2 {
    width: 25%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-top: 30px;
  }

  .col-1,
  .col-2 {
    float: left;
    position: relative;
    z-index: 2;
    min-height: 1px;
  }

  .text-center {
    text-align: center;
  }

  .btn {
    padding: 15px 40px;
    display: inline-block;
    border-radius: 15px;
    min-width: 180px;
    border: 2px solid #0A3871;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 30%;

  }

  .btn-main {
    background: #0A3871;
    color: #fff;
  }

  .btn-stroke {
    background: transparent;
    color: #0A3871;
  }

  .btn:hover {
    box-shadow: 3px 3px 5px 1px rgb(10 56 113 / 38%);
  }

  .botones {
    position: absolute;
    display: inline;
    bottom: 20px;
    width: calc(100% - 160px);    
  }
  .botones .btn {
    width: 40%;
  }
  .botones p {
    display: block;
    color: #495057;
    font-size: 14px;
  }
  .botones p span{
    background: #495057;
    color: #fff;
    padding: 2px 8px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
    margin-top: auto;
    position: relative;
    top: -2px;
  }
  .illustration {
    width: 80%;
  }

  .img-placeholcer {
    height: 100%;
    padding: 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all 0.5s ease;
    box-sizing: border-box;
  }
  .img-placeholcer h2 {
    color: #343A40;
    margin-bottom: 0px;

}
.img-placeholcer p {
  color: #495057;
    font-size: 15px;
    line-height: 1.5em;
}
.container {
  padding: 20px 80px;
    height: calc(100% - 96px);
    box-sizing: border-box;
    position: relative;
}
  textarea.mensaje {
    resize: none;
    border: none;
    background: transparent;
    font-size: 22px;
    padding: 10px 30px 10px 10px;
    color: #0A3871;
    width: 100%;
    min-height: 50vh;
    box-sizing:border-box;
  }

  textarea:focus-visible {
    outline: none;
  }
#output {
 display: none;
 padding: 20px 30px;
 box-sizing: border-box;
 height: 100%;
 
}
#outputMsj {
  color: #495057;
  font-size: 18px;
  resize: none;
    border: none;
    background: transparent;
    width: 100%;
    min-height: 50vh;
    height: calc(100% - 70px);
}

#output input {
 margin: auto;
 display: block;
 width: 100%;
}

  .visible {
    display: block !important;
  }
  .hide {
    display: none;
  }
  body {
    margin: 0;
  }
  footer {
    padding: 10px 15px;
    background: #d4dbf5;
    border-top: 3px solid #0a3871;
    margin-top: 25px;
  }
  footer p {
    display: flex;
    justify-content: space-between;
    color: #0a3871;
    font-weight: 600;
    font-size: 14px;
   
  }
  

  @media  (min-width: 769px) {
    .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  }
  @media (max-width: 768px) {
    .col-1, .col-2 {
      width: 100%;
    display: block;
    float: initial;
  }
  .illustration {
    display: none;
  }
  
  .botones {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: block;
    bottom: 0;
}
.header {
  padding: 30px 0 0 0;
}
textarea.mensaje {
  min-height: 40vh;
  padding: 10px;
  font-size: 16px;
}
.col-2 {
  margin-top: 5px;
}
h2 {
  font-size: 20px;
}
#outputMsj {
  min-height: 10vh;
}
  }
  @media (max-width: 768px) and (min-width: 450px) {
  
.botones div {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
.container {
    padding: 20px;
  }
}
@media (max-width: 449px) {
  .botones div {
    display: block;
  }
  .botones .btn {
    margin-bottom: 10px;
    width: 100%;
  }
  h2 {
  font-size: 18px;
}
.container {
  padding: 10px;
}
} 